<div class="row">
  <% @articles.each do |article| %>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <%= image_tag article.attachment.attached? ? article.attachment.service_url : "default_blog.png",class: "article-img" %>
        <div class="card-body">
          <p class="card-text article-title"><%= article.title %></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <%= link_to "View", article_path(article), class: "btn btn-sm btn-outline-secondary" %>
              <% if current_user && current_user.id == article.user_id %>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              <% end %>
            </div>
            <small class="text-muted">Posted <%= time_ago_in_words(article.created_at) %> ago.</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% unless logged_in? %>

  <div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>
    <h2>
      This is the home page for the 
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>