<li id="article-<%= article.id %>">
  <span class="user">
    <% if current_user.id == article.user.id %>
      <%= article.user.name %> - 
    <% else %>
      <%= link_to article.user.name, article.user %> - 
    <% end %>
  </span>
  <span class="content">
    <%= article.title %>
    <%= link_to (image_tag article.attachment_image,size: Article::SIZE[:small]),article_path(article) %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(article.created_at) %> ago.
    <% if current_user?(article.user) %>
      <%= link_to "delete", article, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>