<header>
  <div class="navbar navbar-dark bg-dark shadow-sm mb-2">
    <div class="container d-flex justify-content-between">
      <%= link_to "Sample Blog app", root_path, id: "logo" %>
      <nav class="nav">
       <ul class="nav align-items-center justify-content-end">
        <% if logged_in? && current_user.admin? %>
          <li class="nav-item">
            <%= link_to "Users", users_path,class: "nav-item mr-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Create Article", new_article_path, class: "nav-item" %>
          </li>
        <% end %>
        <% if logged_in? %>
          <li class="nav-item">
            <div class="dropdown">
              <a class="btn btn-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to "Profile", current_user,class: "dropdown-item" %>
                <%= link_to "Settings", edit_user_path(current_user),class: "dropdown-item" %>
                <%= link_to "Log out", logout_path, method: :delete,class: "dropdown-item" %>
              </div>
            </div>
          </li>
          <% else %>
           <%= link_to "Log in", login_path,class: "nav-item" %>
        <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>